---
import Waves1 from "@/assets/shapes/Waves1.astro";
import Carousel from "../ui/Carousel";
import Waves4 from "@/assets/shapes/Waves3.astro";
import DogLoader from "@/components/ui/DogLoader.astro";
import SectionTitle from "../ui/SectionTitle.astro";
---

<section
  class="z-10 relative bg-semibrown w-full max-container flex flex-col items-center mx-0"
>
  <div
    id="animales"
    class="flex container flex-col gap-5 pt-20 w-full h-max pb-32"
  >
    <SectionTitle title="Buscando un nuevo hogar" />
    <Carousel client:idle>
      <div slot="dogLoader">
        <DogLoader />
      </div>
    </Carousel>
  </div>
  <Waves4 class="z-10 absolute -bottom-1 w-full" />
</section>
