---
import DogHeaderIcon from "@/assets/icons/DogHeaderIcon.astro";
import PawIcon from "@/assets/icons/PawIcon.astro";
import Waves1 from "@/assets/shapes/Waves1.astro";
---

<section
  id="inicio"
  class="relative pt-20 pb-44 w-full max-container flex flex-col items-center mx-0"
>
  <div class="z-20 md:md:flex justify-between items-center">
    <div class="flex flex-col mx-10 max-h-min items-start md:my-6 md:mx-10">
      <h1 class="text-6xl mt-5 text-pretty md:text-8xl font-['Bitcheese']">
        Encuentra a tu amigo peludo
      </h1>
      <h2 class="text-4xl mt-5 md:text-4xl font-['Bitcheese']">
        Adopta a un animal del refugio
      </h2>
      <p class="text-xl mt-5">
        Ayúdanos a brindar una segunda oportunidad a los animales necesitados.
      </p>
      <div>
        <a href="#animales">
          <button type="button">Animales disponibles</button>
        </a>
      </div>
    </div>
    <DogHeaderIcon class="h-auto max-w-[500] w-[80%] hidden lg:block" />
  </div>

  <PawIcon
    class="absolute right-2 top-[10rem] size-9 md:top-[65%] md:left-[25%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-16 top-48 size-9 md:top-[70%] md:left-[40%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-8 top-[15.5rem] size-9 md:top-[50%] md:left-[35%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-28 top-[16rem] size-9 md:top-[48%] md:left-[50%] rotate-[35deg] md:size-24"
  />
</section>

<style>
  button {
    margin-top: 1em;
    padding: 0.6em 1em;
    border: 4px solid #02b0ef;
    transition: ease-in-out 0.3s;
    background-color: transparent;
    color: #02b0ef;
    font-weight: bolder;
    font-size: 16px;
  }

  button:hover {
    transform: scale(1.05);
    background-color: #02b0ef;
    color: white;
  }
</style>
