---
import DogHeaderIcon from "@/assets/icons/DogHeaderIcon.astro";
import PawIcon from "@/assets/icons/PawIcon.astro";
import Waves1 from "@/assets/shapes/Waves1.astro";
import MainButton from "../ui/MainButton.astro";
---

<section
  id="inicio"
  class="relative pt-20 pb-44 w-full max-container flex flex-col items-center mx-0"
>
  <div class="z-20 md:flex justify-between items-center lg:ml-20">
    <div class="flex flex-col mx-10 items-start md:my-6">
      <h1 class="text-6xl mt-5 text-pretty md:text-8xl font-['Bitcheese']">
        Encuentra a tu amigo peludo
      </h1>
      <h2 class="text-4xl mt-5 md:text-4xl font-['Bitcheese']">
        Adopta a un animal del refugio
      </h2>
      <p class="text-xl mt-5">
        Ayúdanos a brindar una segunda oportunidad a los animales necesitados.
      </p>
      <div>
        <a href="#animales">
          <MainButton content="Animales disponibles" />
        </a>
      </div>
    </div>
    <DogHeaderIcon class="h-auto basis-5/6 hidden lg:inline" />
  </div>

  <PawIcon
    class="absolute right-2 top-[10rem] size-9 md:top-[65%] md:left-[25%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-16 top-48 size-9 md:top-[70%] md:left-[40%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-8 top-[15.5rem] size-9 md:top-[50%] md:left-[35%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-28 top-[16rem] size-9 md:top-[48%] md:left-[50%] rotate-[35deg] md:size-24"
  />
</section>
