---
import HelpItem from "../ui/HelpItem.astro";
---

<section
  id="como-ayudar"
  class="relative pb-52 md:pb-60 w-full max-container flex flex-col items-center mx-0"
>
  <div
    class="mt-16 w-full max-w-[1400px] grid lg:grid-cols-10 auto-rows-[25rem] gap-4 mx-auto p-6 md:p-12"
  >
    <HelpItem class="col-span-10 lg:col-span-6" title="Adopta">
      <div
        slot="image"
        class="transition-scale absolute bottom-0 left-0 top-0
  -z-10 h-full w-full bg-blue-950
  bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-500 ease-in-out group-hover:scale-110"
        style="background-image: url('/adoptar.jpg')"
      >
      </div>
    </HelpItem>
    <HelpItem class="col-span-10 lg:col-span-4" title="Donaciones">
      <div
        slot="image"
        class="transition-scale absolute bottom-0 left-0 top-0
  -z-10 h-full w-full bg-blue-950
  bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-500 ease-in-out group-hover:scale-110"
        style="background-image: url('/donations.webp')"
      >
      </div>
    </HelpItem>
    <HelpItem class="col-span-10 lg:col-span-4" title="Voluntariado">
      <div
        slot="image"
        class="transition-scale absolute bottom-0 left-0 top-0
  -z-10 h-full w-full bg-blue-950
  bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-500 ease-in-out group-hover:scale-110"
        style="background-image: url('/voluntario.png')"
      >
      </div>
    </HelpItem>
    <HelpItem class="col-span-10 lg:col-span-6" title="Apadrinamiento">
      <div
        slot="image"
        class="transition-scale absolute bottom-0 left-0 top-0
  -z-10 h-full w-full bg-blue-950
  bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-500 ease-in-out group-hover:scale-110"
        style="background-image: url('/apadrinamiento.webp')"
      ></div>
    </HelpItem>
  </div>
</section>
