---
import Blob1 from "@/assets/shapes/Blob1.astro";
import Blob2 from "@/assets/shapes/Blob2.astro";
import Arrow from "@/assets/icons/Arrow.astro";
import Circle2 from "@/assets/shapes/Circle2.astro";
import Circle1 from "@/assets/shapes/Circle1.astro";
import Waves2 from "@/assets/shapes/Waves2.astro";
import { Image } from "astro:assets";
import sevallos from "@/assets/images/sevallos.webp";
import SectionTitle from "../ui/SectionTitle.astro";
---

<section
  id="nosotros"
  class="relative bg-celeste w-full max-container flex flex-col items-center mx-0"
>
  <div
    class="bg-celeste mt-24 px-10 md:px-0 pb-36 lg:pb-52 container flex justify-center items-center flex-col-reverse md:flex md:flex-row md:gap-24"
  >
    <Image
      class="pt-4 size-52 md:basis-1/3 md:p-0 md:size-72 lg:size-96 z-10"
      src={sevallos}
      alt=""
      loading="eager"
    />
    <div class="md:basis-1/2 grid grid-cols-2 z-10 text-pretty">
      <div class="col-span-2 h-max">
        <SectionTitle class="text-start" title="Nosotros" />
        <p class="text-pretty">
          En nuestra fundación, nuestra misión es simple pero poderosa: brindar
          amor, cuidado y un hogar seguro a los animales que más lo necesitan.
          Desde el primer día, nos hemos dedicado a rescatar, rehabilitar y
          reubicar a perros y gatos que han sido abandonados, maltratados o se
          encuentran en situación de riesgo.
        </p>
      </div>
      <!-- TODO: Mejorar esta vaina de nubes -->
      <div class="relative">
        <Blob1 class="size-32 md:size-44 lg:size-60 m-auto" />
        <div class="absolute inset-10 lg:inset-20 md:text-sm">
          <h3
            class="text-[#0D6ACC] font-['Amatic_SC'] text-2xl lg:text-3xl font-bold"
          >
            15 Perros
          </h3>
          <span class="hidden md:block w-24 md:w-32 text-pretty"
            >Esperando a lamerte la carita</span
          >
        </div>
      </div>

      <div class="relative">
        <Blob2 class="size-32 md:size-44 lg:size-60 m-auto" />
        <div class="absolute inset-10 lg:inset-20 md:text-sm">
          <h3
            class="text-[#0D6ACC] font-['Amatic_SC'] text-2xl lg:text-3xl font-bold"
          >
            15 Gatos
          </h3>
          <span class="hidden md:block w-24 md:w-32 text-pretty"
            >Esperando a lamerte la carita</span
          >
        </div>
      </div>
    </div>

    <!-- TODO: Añadir decoraciones -->
    <!-- <Arrow
        class="size-10 top-96 left-10 md:top-56 md:-rotate-45 md:left-[45%] md:size-12 absolute"
      />
  
      <Circle1
        class="absolute left-60 top-60 size-28 md:size-60 md:left-1 md:top-1"
      />
      <Circle2
        class="absolute left-14 size-28 md:size-48 md:left-[30rem] md:top-72"
      /> -->
  </div>
  <Waves2 class="bottom-0 absolute" />
</section>
<!-- <Waves1 class="z-10 absolute -bottom-1 w-full" /> -->
