---
import Layout from "@/layouts/Layout.astro";
import FormAdoption from "@/components/ui/FormAdoption.vue";
---

<Layout title="Adoptar">
  <div class="fixed left-0 top-0 -z-10 h-full w-full">
    <div
      class="absolute top-0 z-[-2] h-screen w-screen rotate-180 transform bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(182,234,255,.5)_100%)]"
    >
    </div>
  </div>
  <FormAdoption client:idle />
</Layout>

<style>
  option[disabled] {
    display: none;
    color: gray;
  }
</style>
