---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Nosotros from "../components/Nosotros.astro";
import AnimalCard from "@/components/AnimalCard.astro";
---

<Layout title="Amigos con cola || Consigue un nuevo amigo peludo">
  <main>
    <Header />
    <Nosotros />
    <section id="animales" class="w-full bg-semibrown h-screen">
      <h2 class="text-center text-pretty pt-4 text-5xl font-['Bitcheese']">
        Buscando un nuevo hogar
      </h2>
      <AnimalCard />
    </section>
  </main>
</Layout>
