---
import Layout from "../layouts/Layout.astro";
import Header from "../components/sections/Header.astro";
import Nosotros from "../components/sections/Nosotros.astro";
import Availables from "@/components/sections/Availables.astro";
---

<Layout title="Amigos con cola || Consigue un nuevo amigo peludo">
  <main>
    <Header />
    <Nosotros />
    <Availables />
  </main>
</Layout>

<style>
  .swipe {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }
</style>
