<div
  class="shadow-2xl pb-5 rounded-[20px] w-64 h-max gap-3 bg-white flex flex-col items-center"
>
  <img
    class="mt-5 rounded-full px-5 size-fit object-cover"
    src="https://images.unsplash.com/photo-1561037404-61cd46aa615b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt=""
  />
  <h2 class="font-['Amatic_SC'] font-bold text-4xl">Albert</h2>
  <div class="flex flex-col gap-3 justify-center items-center">
    <div class="flex gap-20">
      <p>Gender</p>
      <p class="text-left">Boy</p>
    </div>
    <div class="flex gap-20">
      <p>Age</p>
      <p class="text-left">4 years</p>
    </div>
    <div class="flex gap-20">
      <p>Weight</p>
      <p class="text-left">15 Kg</p>
    </div>
    <button></button>
  </div>
</div>
