---
import DogHeaderIcon from "../icons/DogHeaderIcon.astro";
import PawIcon from "../icons/PawIcon.astro";
import WavesWhite1 from "../icons/WavesWhite1.astro";
import WavesBlue1 from "../icons/WavesBlue1.astro";
---

<section class="pb-16 md:pb-52 flex max-h-max relative w-full bg-semibrown">
  <div
    class="z-10 flex flex-col mx-10 items-center md:items-start md:w-[630px] md:my-6 md:mx-10"
  >
    <h1 class="text-6xl mt-5 md:text-8xl font-['Bitcheese']">
      Encuentra a tu amigo peludo
    </h1>
    <h2 class="text-4xl mt-5 md:text-5xl font-['Bitcheese']">
      Adopta a un animal del refugio
    </h2>
    <p class="mt-5">
      Ayúdanos a brindar una segunda oportunidad a los animales necesitados.
      Puedes hacer la diferencia adoptando, donando o siendo voluntario. Juntos,
      podemos transformar vidas.
    </p>
    <div>
      <button
        type="button"
        class="mt-5 text-white bg-gradient-to-r from-primary to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        >Animales disponibles</button
      >
    </div>
  </div>
  <DogHeaderIcon
    class="md:visible md:w-[526px] md:pl-28 md:h-[424px] collapse"
  />

  <PawIcon
    class="absolute right-3 top-20 size-9 md:top-[65%] md:left-[25%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-16 top-24 size-9 md:top-[70%] md:left-[40%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-8 top-36 size-9 md:top-[50%] md:left-[35%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-24 top-36 size-9 md:top-[48%] md:left-[50%] rotate-[35deg] md:size-24"
  />

  <WavesWhite1 class="absolute bottom-0 w-full h-fit md:bottom-0" />
  <WavesBlue1 class="absolute bottom-0 w-full h-fit md:bottom-0" />
  <!-- <BlankWave -->
  <!--   class="absolute w-[100%] size-full md:pt-48 md:size-full md:bottom-0" -->
  <!-- /> -->
  <!-- <BlueWave -->
  <!--   class="absolute w-[100%] size-full md:pt-24 md:size-full md:bottom-0" -->
  <!-- /> -->
</section>
