---
import DogHeaderIcon from "../icons/DogHeaderIcon.astro";
import PawIcon from "../icons/PawIcon.astro";
import Waves1 from "../shapes/Waves1.astro";
---
<div class="bg-semibrown flex justify-center mx-0  relative">
  <section
  class="pt-16 container  pb-24 md:pb-52 flex justify-between items-center relative w-full   "
>
  <div class="z-10 flex flex-col mx-10 max-h-min items-start md:my-6 md:mx-10">
    <h1 class="text-6xl mt-5 text-pretty md:text-8xl font-['Bitcheese']">
      Encuentra a tu amigo peludo
    </h1>
    <h2 class="text-4xl mt-5 md:text-4xl font-['Bitcheese']">
      Adopta a un animal del refugio
    </h2>
    <p class="text-xl mt-5">
      Ayúdanos a brindar una segunda oportunidad a los animales necesitados.
    </p>
    <div>
      <a href="#animales">
        <button
          type="button"
          class="mt-5 text-white bg-gradient-to-r from-primary to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          >Animales disponibles</button
        >
      </a>
    </div>
  </div>
  <DogHeaderIcon class="md:visible  w-[60rem] h-[30rem] collapse" />

  <PawIcon
    class="absolute right-2 top-[10rem] size-9 md:top-[65%] md:left-[25%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-16 top-48 size-9 md:top-[70%] md:left-[40%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-8 top-[15.5rem] size-9 md:top-[50%] md:left-[35%] rotate-[35deg] md:size-24"
  />
  <PawIcon
    class="absolute right-28 top-[16rem] size-9 md:top-[48%] md:left-[50%] rotate-[35deg] md:size-24"
  />


</section>
<Waves1 class="z-10 absolute -bottom-1 w-full h-fit" />
</div>

