---
import Blob1 from "../shapes/Blob1.astro";
import Blob2 from "../shapes/Blob2.astro";
import Arrow from "../icons/Arrow.astro";
import Circle2 from "../shapes/Circle2.astro";
import Circle1 from "../shapes/Circle1.astro";
import Waves2 from "../shapes/Waves2.astro";
---
<div class="bg-celeste relative flex justify-center ">
  <section
  id="nosotros"
  class="m-0 pt-28 pb-52   md:pb-60 w-full container  flex flex-col-reverse items-center md:flex-row md:items-start relative md:justify-around bg-no-repeat "
>
  <img
    class="pt-4 size-52 md:p-0 md:size-96 z-10"
    src="/sevallos.webp"
    alt=""
  />
  <div class="flex flex-col z-10 mx-10 md:w-[550px] text-pretty">
    <h2 class="pb-2 text-5xl font-['Bitcheese']">Nosotros</h2>
    <p class="">
      En nuestra fundación, nuestra misión es simple pero poderosa: brindar
      amor, cuidado y un hogar seguro a los animales que más lo necesitan. Desde
      el primer día, nos hemos dedicado a rescatar, rehabilitar y reubicar a
      perros y gatos que han sido abandonados, maltratados o se encuentran en
      situación de riesgo.
    </p>
    <div class="relative">
      <Blob1
        class="size-40 top-72 -left-52 md:top-24 md:-left-[19rem] absolute inset-0 m-auto md:size-60"
      />
      <div class="z-10 top-60 left-0 md:top-12 md:left-14 absolute">
        <h3
          class="text-2xl text-[#0D6ACC] font-['Amatic_SC'] md:text-3xl md:w-28 font-bold"
        >
          24 Perros
        </h3>
        <p class="w-24 text-sm md:w-32 text-pretty">
          Esperando a lamerte la carita
        </p>
      </div>
    </div>
    <div class="relative">
      <Blob2
        class="size-40 top-72 left-36 md:top-20 md:left-72 absolute inset-0 m-auto md:size-60"
      />
      <div
        class="top-[15.5rem] left-48 md:top-11 md:left-[23rem] absolute inset-0 md:w-28"
      >
        <h3
          class="text-2xl text-[#0D6ACC] font-['Amatic_SC'] md:text-3xl md:w-28 font-bold"
        >
          15 Gatos
        </h3>
        <p class="w-24 text-sm md:w-32 text-pretty">Esperando a decirte miau</p>
      </div>
    </div>
  </div>
  <Arrow
    class="size-10 top-96 left-10 md:top-56 md:-rotate-45 md:left-[45%] md:size-12 absolute"
  />


  <Circle1
    class="absolute left-60 top-60 size-28 md:size-60 md:left-1 md:top-1"
  />
  <Circle2
    class="absolute left-14 size-28 md:size-48 md:left-[30rem] md:top-72"
  />

</section>
<Waves2 class="absolute -bottom-1 w-full h-fit" />

</div>
